Source: librle
Priority: optional
Maintainer: OpenSAND Maintainers <admin@opensand.org>
Build-Depends: debhelper (>=9), dh-make, cmake, pkg-config
Standards-Version: 3.9.6
Section: libs

Package: librle-dev
Section: libdevel
Architecture: any
Depends: librle (= ${binary:Version})
Description: Return Link Encapsulation library and headers for Linux
 A C library that implements the RLE (Return Link Encapsulation) protocol
 as defined by ETSI TS 103 179 V1.1.1 (2013-08).

Package: librle
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Return Link Encapsulation library for Linux
 A C library that implements the RLE (Return Link Encapsulation) protocol
 as defined by ETSI TS 103 179 V1.1.1 (2013-08).

Package: librle-dbg
Section: debug
Architecture: any
Depends: librle (= ${binary:Version})
Description: Return Link Encapsulation library for Linux
 A C library that implements the RLE (Return Link Encapsulation) protocol
 as defined by ETSI TS 103 179 V1.1.1 (2013-08).
